@model GameMarket.Models.Game

@{
    ViewBag.Title = "Удалить";
}

<h2>Подтверждение удаления</h2>

<p>
   Вы уверены, что ходите удалить данную игру?
    <strong>@Model.Name</strong>?
</p>

@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Удалить" />
    </p>
    <p>
        @Html.ActionLink("Назад к списку", "Index")
    </p>

}