@model int

@{
    ViewBag.Title = "Опалата завершена";
}

<h2>Оплата завершена</h2>

<p>Спасибо за ваш заказ! Номер заказа: @Model</p>

<p>
    Может вы хотите купить ещё игр?
    @Html.ActionLink("Список игр", "Index", "Home")
</p>