
@{
    ViewBag.Title = "Панель администрирования";
}

<h2>Панель администрирования</h2>
<ul>
    <li>@Html.ActionLink("Редактирование товаров", "Index", "StoreManager")</li>
    <li>@Html.ActionLink("Редактирование категорий", "Index", "Genre")</li>
</ul>     
