@{
    ViewBag.Title = "Contact";
}

<h3>Контактные данные</h3>
<section class="contact">    
        <h3>Телефон</h3>    
    <p>
        <span class="label">Менеджер:</span>
        <span>42-48-90</span>
    </p>
    <p>
        <span class="label">Тех. поддержка</span>
        <span>34-75-22</span>
    </p>
</section>

<section class="contact">    
        <h3>Email</h3>
    <p>
        <span class="label">Тех. поддержка:</span>
        <span><a href="mailto:Support@example.com">Support@example.com</a></span>
    </p>
    <p>
        <span class="label">Менеджер:</span>
        <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
    </p>
    <p>
        <span class="label">Руководство:</span>
        <span><a href="mailto:General@example.com">General@example.com</a></span>
    </p>
</section>

<section class="contact">
        <h3>Адрес</h3>
    <p>
        Город Саратов, ул. Емлютина, дом 178/190
    </p>
</section>